.form-container {
    margin: 0 auto;
    border-radius: 24px;
    width: 70%;
    display: flex;
    gap: 16px;
}

form {
    /* background-color: rgba(26, 26, 26, 0.5);
    backdrop-filter: blur(12px);
    border: 2px solid #555555; */

    background-color: #f3f2f7;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 360px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.form__header {
    margin-bottom: 36px;
}

.form__header h1 {
    font-weight: 500;
    margin-bottom: 6px;
}

.form__header p {
    font-size: 1rem;
    color: var(--black-3);
}

.form-group {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-size: 1rem;
}

.form-group input,
.form-group textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

.form-group textarea {
    min-height: 120px;
}

form button {
    margin-top: 12px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--black-2);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

form button:hover {
    background-color: var(--black-3);
}

form button:active {
    background-color: var(--black-1);
}

.contact__platforms {
    display: flex;
    gap: 16px;

}

.contact-image {
    border-radius: 16px;
    width: 60%;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.contact-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 16px;
}