footer {
    background: radial-gradient(#0c0c0c, #202020);
    color: var(--gray-2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 64px;
    padding: 10px 120px;
    position: relative;
    bottom: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: var(--gray-2);
    border: 1px solid var(--gray-2);
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
}

.footer-icons a:hover {
    color: var(--white-1);
    background: var(--gray-2);
}

.footer-icons i {
    font-size: 1.8rem;
    padding-top: 2px;
}

@media screen and (max-width: 425px) {
    footer {
        height: auto;
        padding: 24px;
        flex-direction: column;
        gap: 2rem;
        font-size: 0.8rem;
    }    

    .footer-icons {
        gap: 1rem;
    }

    .footer-icons a {
        width: 24px;
        height: 24px;
    }

    .footer-icons i {
        font-size: 1.4rem;
    }

}
